<% if @code_title%>
    <div role="alert" style="margin-left: auto; margin-right: auto; padding: 5px" class="max-w-max">
        <div class="bg-red-500 text-white font-bold rounded-t px-4 py-2">
            Error: <%= @code_title%>
        </div>
        <div class="border border-t-0 border-red-400 rounded-b bg-red-100 px-4 py-3 text-red-700">
            <%= simple_format(@code)%>
        </div>
    </div>
<% end %>