<nav class="bg-white border-gray-200 dark:bg-gray-900">
    <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl px-4 md:px-6 py-2.5">
        <a href="#" class="flex items-center">
            <%= image_tag('lifyx.png', size: '200x250', style: 'margin-left: 50px;')%>
            <!--<img style="margin-left: 50px;" src="https://z-p3-scontent.fkna1-1.fna.fbcdn.net/v/t39.30808-6/355491624_10230935052586474_6184820644118613614_n.jpg?_nc_cat=110&cb=99be929b-59f725be&ccb=1-7&_nc_sid=5cd70e&_nc_eui2=AeGyuft6zuGDt2hHNem_zknm3ZpLAJzsnTfdmksAnOydN2XB1TYPJn3fHn07sb33xDU&_nc_ohc=mercbVXHhjYAX8ob52X&_nc_zt=23&_nc_ht=z-p3-scontent.fkna1-1.fna&oh=00_AfCj4_M3reEZrh7Eup8WtXD5P_PtJOSWmpJ9xAQrpWoQjQ&oe=649923AB" class="h-6 mr-5 sm:h-20" alt="Lifyx" />-->
        </a>
        <div class="flex items-center">
            <div class="navbar-start">
                <%= link_to "Servicios", "#", class:"mr-6 text-sm font-medium text-gray-500 dark:text-white hover:underline" %>
                <%= link_to "FAQ","#", class:"mr-6 text-sm font-medium text-gray-500 dark:text-white hover:underline" %>
                <%= link_to "Contáctanos","#", class:"mr-6 text-sm font-medium text-gray-500 dark:text-white hover:underline" %>
            </div>
        </div>
    </div>
</nav>
